<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} Species</title>
    <link
      href="{{url_for('static', filename='css/style.css')}}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>{{title}} Species</h1>
    <form action="/detect" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" accept="image/*" required />
      <input
        type="image"
        src="{{url_for('static', filename='images/submit.png')}}"
        alt="Submit"
        style="width: 100px; height: 100px"
      />
    </form>
  </body>
</html>
